/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Poppins", Arial, Verdana, sans-serif;
    --secondary-font: "Bebas Neue", Impact, Arial Black, sans-serif;
    --primary-color: #252525;
    --secondary-color: #C30909;
    --table-color-one: #C30909;
    --table-color-two: #feac4d;
    --table-color-three: #fcd769;
    --table-color-four: #464a52;
    --table-color-five: #252525;
}
/* Global styling */
body, h1{
    font-family: "Poppins", sans-serif;
    background-color: #a3a0a0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue";
    background-color: transparent;
}

.section {
   margin-top: 2rem;
   margin-bottom: 2rem; 
}
/* replacement for the HR tag */
.brdtop-hr {
    border-top: 6px solid var(--secondary-color);
    padding-top: 8px;
    display: inline-block;
    width: fit-content;
}
.brdtop-white {
    border-top: 6px solid white;
    padding-top: 5px;
    display: inline-block;
    width: fit-content;
}
/* Navbar */
#navbar {
    background-color: var(--primary-color);
}
#navbar .logo {
    width: 40px;
}
#navbar .active {
    color: var(--secondary-color) !important;
}
#navbar a {
    color: white;
}

#navbar a:hover {
    color: var(--secondary-color);
}

/* Header */
#intro-header {
    background-color: var(--primary-color);
    color: white;
}

.carousel-item > img {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.btn-outline {
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: white;
    border-radius: 0;
}

a.btn-outline:hover {
    background-color: var(--secondary-color);
}

/* Footer */
footer{
    background-color: var(--primary-color);
    color:white;
    padding: 10px 0;
}
#fnav-links a{
    text-decoration: none;
    color: white;
}
#fnav-links a:hover{
    text-decoration: none;
    color:var(--secondary-color);
}
#fnav-links .row {
    margin-right: 0;
}
#icons a{
    margin: 0 20px;
    color: white;
    text-decoration: none;
}
#icons a:hover {
    color: var(--secondary-color);
}

/* Home */
/* classes quicklink styles */
.ratio {
    min-height: 99%;
}
#classes-ql {
    background-color: white;
    margin-top: 100px;
    padding-bottom: 100px;
}
#classes-ql .card {
    height: 290px;
}
#classes-ql .card-body {
    border: none;
    background-color: var(--secondary-color);
    color: white;
}
#classes-ql .img-fluid {
    height: 200px;
    object-fit: cover;
}

#classes-ql a {
    text-decoration: none;
}
#classes-ql h2 {
    margin-top: 15px;
}
/* timetable quicklink styles */
#ttable-ql{
    background: url('../images/index-mood1.webp');
    min-height: 700px;
    width: 100%;
    color: white;
    margin-top: 50px;
}
#ql-box {
    padding-top: 200px;
}
#ql-box *{
    margin-top: 20px;
}
#ql-box a {
    background-color: var(--secondary-color);
    border-radius: 0%;
    color: white;
}
#ql-box a:hover {
    background-color: var(--primary-color);
    color: white;
}
/* coach quicklink with carousel */
#coach-ql {
    background-color: var(--secondary-color);
    margin: 50px 0;
    padding: 50px 0;
    color: white;
}
#coach-ql .col {
    margin: auto 0;
}
#coach-ql img {
    height: 190px;
    width: 190px;
    object-fit: cover;
}
#coach-ql .card {
    background-color: transparent;
    border: none;
    color: white;
    min-height: 420px;
}
.ql-btn {
    background-color: white;
    color: var(--primary-color);
    border-radius: 0;
}
.ql-btn:hover {
    background-color: var(--primary-color);
    color: white;
}
/* About */
/* landing styles */
#about-landing {
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
    color: white;
}
/* This text was bugged on about.html and wouldnt inherit mx-auto & my-auto hence the important */
#cl-text {
    padding-top: 225px !important;
}
.section-about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondary-color);
}
.section-about2 {
    padding-bottom: 100px;
}
.section-about .row {
    color: white;
}
.section-about2 .row{
    margin: 0;
    padding: 0;
}
.section-about2 .col {
    margin-top: 20px;
}
.section-about2 img {
    width: 100%;
    max-width: 100%;

}
#img2 {
    height: 100%;
}
/* Testimonials - About.html  */
#testimonials {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    color: white;
}
#testimonials .card {
    background-color: transparent;
    border: none;
    color: white;
}
#testimonials img {
    border: 6px solid var(--secondary-color);
    width: 120px;
    height: 120px;
    margin: 18px auto;
    object-fit: cover;
}
#testimonials .card-body {
    min-height: 340px;
}
#testimonials .card-footer {
    margin-top: 2rem;
}
#testimonials .card-text{
    height: 200px;
}

/* Classes styles */
#class-landing {
    background-image: url('../images/classes-landing2.jpg');
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
    object-fit: cover;
}
#class-landing div {
    color: white;
    height: 100px;
    padding-top: 200px;
	padding-bottom: 150px;
}
.classes-section {
    margin-top: 100px;
    margin-bottom: 100px;
}
.classes-section .card-body {
    border: none;
    background-color: var(--secondary-color);
    color: white;
}
.classes-section .card {
    margin-top: 1.5rem;
    border: none;
}
.classes-section .img-fluid {
    height: 200px;
    object-fit: cover;
}
/* code for arrow down (intuitive design to make the user click on the class to open description) taken inspiration from google/stack overflow */
h2 .fa-chevron-down {
    transition: transform 0.3s ease-in-out;
}
h2[aria-expanded = "true"] .fa-chevron-down {
    transform: rotate(90deg);
}
/* end of arrow */
#contact-footer {
    background-color:var(--secondary-color);
    color: white;
    padding: 50px 0;
    margin-bottom: 0;
}
#contact-footer a {
    border-radius: 0%;
    background-color: white !important;
    color: var(--primary-color) !important;
}
#contact-footer a:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}

/* Coaches styles */
#coach-landing {
    background-image: url("../images/coaches-landing.webp");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
}
#coach-landing div {
    color: white;
    height: 100px;
    padding-top: 200px;
	padding-bottom: 150px;
}
#coach-intro {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px 0;
    background-color: var(--secondary-color);
    color: white;
}

#coach-intro .row {
    padding: 0 30px;
    margin-right: 0;
}
#coaches {
    background-color: white;
}
#coaches .card {
    border: none;
}

#coaches img {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

#coaches h4 {
    color: var(--secondary-color);
}

#coaches p {
    margin-bottom: 20px;
}

/* Contact us page */
#contact-landing {
    background-color: var(--secondary-color);
    color: white;
    padding: 50px 0;
}
#form-table button {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

#form-table button:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

#thank-you a {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

#thank-you a:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}

/* Opening times */
/* used * uni selector to target all elements of the table */
.open-times .table *{
    background-color: transparent;
}

/* Sign up form (copied code) removal of up and down spinners*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for Firefox */
/* also copied */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Pricing Table */
#price-table .table *{
    background-color: transparent;
}

/* Map styles */
#map {
    margin-top: 100px;
}
#map iframe{
    border: none;
    width: 100%;
    height: 500px;
}

/* Succesifull submission of the form wouldnt have propper vh on lg and xl screens hence the styling */
#thank-you {
    min-height: 55vh;
}

/* Schedule */
#schedule-landing {
    background-color: var(--secondary-color);
    color: white;
    padding: 50px 0;
}
/* Timetable styles */

#schedule-table {
    border: 10px solid white;
}
.schedule-cell {
    border: 10px solid white;
    font-size: calc(150px/10);
    white-space: nowrap;
}

.schedule-cell th, .schedule-cell td{
    height: 150px !important;
    width: 150px !important;
    border: 10px solid white;
}
/* cell colors */

.c5 {
    /* After changing to classes instead of ID to avoid validator error
    the styles were not applying, somehow overriden by the bootstrap build in styles */
    background-color: var(--table-color-five) !important;
    color: white !important;
    /* black */
}
.c4 {
    background-color: var(--table-color-four) !important;
    color: white !important;
    /* gray */
}
.c3 {
    background-color: var(--table-color-three) !important;
    color: white !important;
    /* yellow */
}
.c2 {
    background-color: var(--table-color-two) !important;
    color: white !important;
    /* orange */
}
.c1 {
    background-color: var(--table-color-one) !important;
    color: white !important;
    /* pink */
}

/* Media queries */
@media screen and (max-width: 576px) {
}

@media screen and (min-width: 1200px) {
    /* Query for header on index.html */
    .head-wrap {
        margin-top: 3rem;
    }
    #intro-header p {
        margin-top: 2rem;
    }
    #intro-header a {
        margin-top: 2rem;
    }
    #testimonials img {
        width: 150px;
        height: 150px;
        margin: 15px auto;
        object-fit: cover;
    }
    #testimonials .card-body {
        min-height: 343px;
    }
    #testimonials .card-footer {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 576px) {
    /* query on paralax for small screens */
    #about-landing {
        background-attachment: fixed;
    }
    .class-landing {
        background-attachment: scroll;
    }
}
@media screen and (max-width: 1200px) {
    #testimonials .card-text{
        height: 150px;
    }
}
@media screen and (max-width: 576px) {
    /* icons on footer */
    #icons a {
        /* wouldnt apply unless !important was set */
        margin: 0 20px !important;
    }
    #testimonials .card-text{
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    #coaches img {
        width: 150px;
        height: 150px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .class-wrap {
        max-width: 540px;
    }
}