/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Poppins", Arial, Verdana, sans-serif;
    --secondary-font: "Bebas Neue", Impact, Arial Black, sans-serif;
    --primary-color: #252525;
    --secondary-color: #d0987f;
    --primary-highlight-color: #777;
    --table-color-one: #d0987f;
    --table-color-two: #feac4d;
    --table-color-three: #fcd769;
    --table-color-four: #464a52;
    --table-color-five: #252525;
}
/* Global styling */
body, h1{
    font-family: "Poppins", sans-serif;
    background-color: #a3a0a0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue";
    background-color: transparent;
}

.section {
   margin-top: 2rem;
   margin-bottom: 2rem; 
}
hr {
    display: block;
    width: 10%;
    height: 6px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    border: none;
    opacity: 1;
}


/* Navbar */
#navbar {
    background-color: var(--primary-color);

}
#navbar .logo {
    width: 40px;
}
#navbar .active {
    color: var(--secondary-color) !important;
}
#navbar a {
    color: white;
}

#navbar a:hover {
    color: var(--secondary-color);
}

/* Header */
#intro-header {
    background-color: var(--primary-color);
    color: white;
}

.carousel-item > img {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
.btn-outline {
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: white;
    border-radius: 0;
}

a.btn-outline:hover {
    background-color: var(--secondary-color);
}

/* Footer */
footer{
    background-color: var(--primary-color);
    color:white;
    padding: 10px 0;
}
#fnav-links a{
    text-decoration: none;
    color: white;
}
#fnav-links a:hover{
    text-decoration: none;
    color: #d0987f;
}
#fnav-links .row {
    margin-right: 0;
}
#icons a{
    margin: 0 20px;
    color: white;
}
#icons a:hover {
    color: var(--secondary-color);
}

/* Home */
/* classes quicklink styles */
#classes-ql {
    background-color: white;
    margin-top: 100px;
    padding-bottom: 100px;
}
#classes-ql .card {
    height: 290px;
}
#classes-ql .card-body {
    border: none;
    background-color: var(--secondary-color);
    color: white;
}
#classes-ql .card-img-top {
    height: 188px;
}

#classes-ql a {
    text-decoration: none;
}
#classes-ql h2 {
    margin-top: 15px;
}
/* timetable quicklink styles */
#ttable-ql{
    background: url('../images/index-mood1.webp');
    min-height: 700px;
    width: 100%;
    color: white;
    margin-top: 50px;
}
#ql-box {
    padding-top: 200px;
}
#ql-box hr {
    /* hr wasnt targeted with the * so attempting fix */
    margin: 20px auto;
}
#ql-box *{
    margin-top: 20px;
}
#ql-box button {
    background-color: var(--secondary-color);
    border-radius: 0%;
    color: white;
}
#ql-box button:hover {
    background-color: var(--primary-color);
    color: white;
}
/* coach quicklink with carousel */
#coach-ql {
    background-color: var(--secondary-color);
    margin: 50px 0;
    padding: 50px 0;
    color: white;
}
#coach-ql .col {
    margin: auto 0;
}
#coach-ql img {
    height: 190px;
    width: 190px;
}
#coach-ql .card {
    background-color: transparent;
    border: none;
    color: white;
    min-height: 420px;
}
.ql-btn {
    background-color: white;
    color: var(--primary-color);
    border-radius: 0;
}
.ql-btn:hover {
    background-color: var(--primary-color);
    color: white;
}
/* About */
/* landing styles */
#about-landing {
    background-image: url('../images/about-landing.webp');
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
    color: white;
}
/* This text was bugged on about.html and wouldnt inherit mx-auto & my-auto hence the important */
#cl-text {
    padding-top: 225px !important;
}
.section-about {
    padding-top: 135px;
    padding-bottom: 135px;
}
.section-about2 {
    padding-bottom: 135px;
}
.section-about .row {
    color: white;
}
.section-about2 .row{
    margin: 0;
    padding: 0;
}
.section-about2 .col {
    margin-top: 20px;
}
.section-about2 img {
    width: 100%;
    max-width: 100%;

}
/* Testimonials - About.html  */
#testimonials {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    color: white;
}
#testimonials .card {
    background-color: transparent;
    border: none;
    color: white;
}
#testimonials img {
    border: 6px solid var(--secondary-color);
    width: 25%;
    height: 25%;
    margin: 18px auto;
}
#testimonials .card-body {
    min-height: 340px;
}
#testimonials .card-footer {
    margin-top: 2rem;
}

/* Classes styles */

#class-landing {
    background-image: url("../images/classes-landing1.webp");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
}
#class-landing div {
    color: white;
    height: 100px;
    padding-top: 200px;
	padding-bottom: 150px;
}
.classes-section {
    margin-top: 100px;
    margin-bottom: 100px;
}
.classes-section .card-body {
    border: none;
    background-color: var(--secondary-color);
    color: white;
}
.classes-section .card-img-top {
    height: 188px;
}
.classes-section .card {
    margin-top: 1.5rem;
    border: none;
}
#contact-footer {
    background-color:var(--secondary-color);
    color: white;
    padding: 50px 0;
    margin-bottom: 0;
}
#contact-footer button {
    border-radius: 0%;
    background-color: white !important;
    color: var(--primary-color) !important;
}
#contact-footer button:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
}
#contact-footer hr {
    margin-top: 20px;
    display: block;
    width: 10%;
    height: 6px;
    margin: 0 auto;
    background-color: white;
    border: none;
    opacity: 1;
}

/* Coaches styles */
#coach-landing {
    background-image: url("../images/coaches-landing.webp");
    min-height: 500px; 
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position:relative;
}
#coach-landing div {
    color: white;
    height: 100px;
    padding-top: 200px;
	padding-bottom: 150px;
}
#coach-intro {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px 0;
    background-color: var(--secondary-color);
    color: white;
}
#coach-intro hr {
    margin-top: 20px;
    display: block;
    width: 10%;
    height: 6px;
    margin: 0 auto;
    background-color: white;
    border: none;
    opacity: 1;
}

#coach-intro .row {
    padding: 0 30px;
}
#coaches {
    background-color: white;
}
#coaches .card {
    border: none !important;
}

#coaches img {
    width: 190px;
    height: 190px;
}

#coaches h4 {
    color: var(--secondary-color);
}

#coaches p {
    margin-bottom: 20px;
}

/* Contact us page */
#contact-landing {
    background-color: var(--secondary-color);
    color: white;
    padding: 50px 0;
}
#contact-landing hr {
    background-color: white;
}
#form-table button {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

#form-table button:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#thank-you a {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

#thank-you a:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Opening times */
/* used * uni selector to target all elements of the table */
.open-times .table *{
    background-color: transparent;
}

/* Sign up form (copied code) removal of up and down spinners*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Pricing Table */
#price-table .table *{
    background-color: transparent;
}

/* Map styles */
#map {
    margin-top: 100px;
}

/* Succesifull submission of the form wouldnt have propper vh on lg and xl screens hence the styling */
#thank-you {
    min-height: 55vh;
}

/* Schedule */
#schedule-landing {
    background-color: var(--secondary-color);
    color: white;
    padding: 50px 0;
}

#schedule-landing hr {
    width: 10%;
    background-color: white;
}
/* Timetable styles */

#schedule-table {
    border: 10px solid white;
}
#schedule-cell {
    border: 10px solid white;
    font-size: calc(150px/10);
    white-space: nowrap;
}

#schedule-cell th, #schedule-cell td{
    height: 150px !important;
    width: 150px !important;
    border: 10px solid white;
}
/* cell colors */
#c5 {
    background-color: var(--table-color-five);
    color: white;
    /* black */
}
#c4 {
    background-color: var(--table-color-four);
    color: white;
    /* gray */
}
#c3 {
    background-color: var(--table-color-three);
    color: white;
    /* yellow */
}
#c2 {
    background-color: var(--table-color-two);
    color: white;
    /* orange */
}
#c1 {
    background-color: var(--table-color-one);
    color: white;
    /* pink */
}

/* Media queries */
@media screen and (max-width: 576px) {
    hr {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    /* Query for header on index.html */
    .head-wrap {
        margin-top: 3rem;
    }
    #intro-header p {
        margin-top: 2rem;
    }
    #intro-header a {
        margin-top: 2rem;
    }
    #testimonials img {
        width: 30%;
        height: 30%;
        margin: 15px auto;
    }
    #testimonials .card-body {
        min-height: 343px;
    }
    #testimonials .card-footer {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 576px) {
    /* query on paralax for small screens */
    #about-landing {
        background-attachment: fixed;
    }
    .class-landing {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 576px) {
    /* icons on footer */
    #icons a {
        /* wouldnt apply unless !important was set */
        margin: 0 20px !important;
    }
}